@model BlogProject.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<!-- Main Content-->
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <h1>Details</h1>

        <div>
            <h4>Blog</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Updated)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Updated)
                </dd>
                <dt class = "col-sm-2 text-wrap overflow-hidden">
                    @Html.DisplayNameFor(model => model.ImageData)
                </dt>
                <dd class = "col-sm-10 overflow-hidden">
                    @Html.DisplayFor(model => model.ImageData)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ContentType)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ContentType)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.BlogUser)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.BlogUser.FullName)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>