@using BlogProject.Models
@using BlogProject.Services
@using BlogProject.Enums 
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@model IPagedList<Blog>;

@{
    ViewData["Title"] = "Home Page";
}

<!-- Main Content-->
<div class="row">
    @foreach (var blog in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <div class="card border-dark h-100">
                <img class="card-img-top" src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="Card Image" />

                <div class="card-body text-center d-flex flex-column">
                    <div>
                        <div class="bg-warning">
                            <hr class="card-hr" />
                            <h5 class="card-title">@blog.Name</h5>
                            <hr class="card-hr" />
                        </div>

                        <p class="card-text cftooltip"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="@blog.Description"
                           title="">
                            @blog.Description
                        </p>

                        <span></span>
                    </div>

                    <div class="text-center d-grid mt-auto">
                        <a class="btn btn-dark btn-sm mb-2" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                            Read Posts
                        </a>
                    </div>

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center d-grid">
                            <a class="btn btn-dark btn-sm mb-2" asp-controller="Posts" asp-action="Create" asp-route-id="@blog.Id">
                                Create Post
                            </a>
                        </div>
                    }

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center d-grid">
                            <a class="btn btn-dark btn-sm mb-2" asp-controller="Posts" asp-action="Edit" asp-route-id="@blog.Id">
                                Edit Blog
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<hr />

<!-- Add Paging controls here -->
<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
         new PagedListRenderOptions
         {
             LiElementClasses = new string[] { "page-item" },
             PageClasses = new string[] { "page-link" }
         })
    </div>
</div>

@section Scripts {
    <script>
        var swalMsg = '@TempData["SweetAlert"]'
        if (swalMsg != "") {
            Swal.fire({
                icon: 'success',
                title: swalMsg,
                timer: 2500,
            })
        }

        $(document).ready(function () {
            $("p").tooltip();
        })
    </script>
}