@using BlogProject.Models
@using BlogProject.Services
@using BlogProject.Enums 
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@model IPagedList<Blog>;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    h5.card-title {
        /*height: 2.5em;*/
    }

    .clampTitle {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .clampOverview {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .clampTitle a {
        color: #fff;
        text-decoration: none;
    }
</style>

<!-- Main Content-->
<div class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        @foreach (var blog in Model)
        {
            // Is the logged in user the Author of this post?
            var isAuthor = false;
            if (User.Identity.IsAuthenticated)
            {
                isAuthor = User.IsInRole(BlogRole.GuestAuthor.ToString());
                isAuthor = isAuthor && (blog.BlogUserId == _userManager.GetUserId(User));
            }

            <!-- item -->
            <div class="item mb-5">
                <!-- row -->
				<div class="row g-3 g-xl-0">
					<div class="col-12 col-md-2 col-xl-3">
					    <img class="img-fluid post-thumb " src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="Card Image">
					</div>
                    <!-- col -->
					<div class="col">
						<h3 class="title mb-1"><a class="text-link" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">@blog.Name</a></h3>
						<div class="meta mb-1"><span class="date">Published on @blog.Created.ToString("MM/dd/yyyy")</span></div>
						<div class="intro">@blog.Description</div>
						<a class="text-link" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">Read Posts &rarr;</a>
                        @if (User.IsInRole(BlogRole.Administrator.ToString()) || isAuthor)
                        {
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <a class="text-link" asp-controller="Posts" asp-action="Create" asp-route-id="@blog.Id">Create Post</a>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <a class="text-link" asp-controller="Blogs" asp-action="Edit" asp-route-id="@blog.Id">Edit Blog</a>
                        }
					</div>
                    <!-- end col -->
				</div>
                <!-- end row -->
			</div>
            <!-- end item -->
        }

        <hr />

        <!-- Add Paging controls here -->
        <div class="row">
            <div class="col h3">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                 new PagedListRenderOptions
                 {
                     LiElementClasses = new string[] { "page-item" },
                     PageClasses = new string[] { "page-link" }
                 })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var swalMsg = '@TempData["SweetAlert"]'
        if (swalMsg != "") {
            Swal.fire({
                icon: 'success',
                title: swalMsg,
                timer: 2500,
            })
        }

        //$(document).ready(function () {
        //    $("p").tooltip();
        //    $("a").tooltip();
        //})
    </script>
}