@using BlogProject.Services

@inject IImageService imageService

@model BlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />

<article>
    <div class="row">
        <div class="col text-center font-weight-bold h3">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />

<!-- Comment input area -->
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create" method="post">
            @Html.Hidden("PostId", Model.Id)
            @Html.Hidden("Slug", Model.Slug)

            <div class="form-group">
                <label class="h2 custom-control-label font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>

            <div class="d-grid mt-3 mb-2">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
            </div>
        </form>
    }
    else
    {
        <div class="d-grid mt-3 mb-2">
            <a class="btn btn-dark btn-sm" asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="/BlogPosts/UrlFriendly/@Model.Slug">Login to add comment</a>
        </div>
    }
</div>

<!-- Displaying Comments related to this Post -->
<!-- Display the image of the Comment's Author -->
<div class="d-grid mb-2">
    <span class="btn btn-dark btn-sm">@Model.Comments.Count COMENT(S)</span>
</div>

@foreach (var comment in Model.Comments)
{
    <div class="d-flex p-0 mb-2 bg-light">
        <div class="flex-shrink-0">
            <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)" />
        </div>
        <div class="flex-grow-1">
            <h4>@comment.BlogUser.FullName</h4>
            <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
            <p class="my-2">@comment.Body</p>
        </div>
    </div>
}
